<ul>
<li>
	Número de preguntas: <%= numPreguntas%>
</li>
<li>
	Número de comentarios: <%= numComentarios%>
</li>
<li>
	Comentarios por pregunta: <%= mediaComments%>
</li>
<li>
	Preguntas sin comentarios: <%= pregSin%>
</li>
<li>
	Preguntas con comentarios: <%= pregCon%>
</li>
</ul>